 <!-- Intro Section -->
<br>
<br>
<br>
  <section id="intro" class="intro-section">
      <div class="container">
        
          <div class="row1" id="text">
              <div class="col-lg-12">
                  <div class="img-circle"><%= image_tag('neosleeping.jpg', class: "img-circle") %></div><h1 class="introheader">Copywriter Profile</h1>
                  <p>Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! </p>
                  <p>Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! Hi, I'm Neo, love me! </p>
              </div>
          </div>
      </div>
  </section>

  <br>
  <br>
  <br>
  <br>
 
  <section id="services" class="services-section">
      <div class="container">
         <div class="col-lg-8 col-md-offset-2" id="progpos">
            <h1>My Skills</h1>
              <br>
              <p id="label">Refined Writing Skills</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <br>
              <p id="label">Sense of Adventure and Curiosity</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <br>
              <p id="label">Research Skills</p>
              <div class="progress ">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:75%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <br>
              <p id="label">The Ability to Create Something new</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:85%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <br>
              <p id="label">An Understanding of User Experience</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <br>
              <p id="label">Writing with Empathy</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>  
              
          </div>
      </div>
  </section>

  <br> 
  <br>
  <br>
  <br>

  <section id="about" class="about-section">
    <div class="container" id="services">
    <div class="col-lg-8 col-md-offset-2" id="progpos"><h1>My Work</h1></div>

    <%= render 'documents/index' %>
    <br>
    <%= render 'documents/new' %>

    </div>
  
      
  </section>

  <br>
  <br>
  <br>
  <br>
  <!-- Contact Section -->
  <section id="contact" class="contact-section">
    <div class="container">
                  
    <%= render 'conversations/index' %>
                
    </div>
  </section>
 

  <br>
  <br>
  <br>
  <br>
