<div class="row around-xs">
 
	<% @documents.each do |document| %>
    <center>
      <li class="col-xs-3" id="item-grid">
        <%= link_to image_tag(document.doc.url, class: 'media-object', size:"108x152"), document.doc.url, target: '_blank' %>
        <% if @users %>
        <% if current_user.is_admin? %>
					<%= link_to 'Remove', document_path(document), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
				<% end %>
				<% end %> 
			</li>
    </center>
	<% end %>  
</div>
  
