@import "bootstrap-sprockets";
@import "bootstrap";

#topnavbar {
	background-color: #d8fffb;
	font-family: "PT serif";
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url(graffiti.jpg);
  opacity: 0.3;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

#text {
  color: #e3f0f3;
  
  margin-bottom: 30px;
  margin-left: -23px;
  font-family: "PT serif";
  padding: 15px;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    position: relative;
    height: 100%;
    padding-bottom: 30px;
    text-align: justify;
    -moz-text-align-last: left;
    text-align-last: left;
    background: rgba(93, 105, 124, 0.5);
    Border-radius: 110px 0px 0px 0px;
    -moz-border-radius: 110px 0px 110px 0px;
    -webkit-border-radius: 110px 0px 110px 0px;
    Border: 0px solid #000000;
}

.about-section {  
    background: rgba(93, 105, 124, 0.5);
    list-style: none;
    height: auto;
    padding-bottom: 40px;
    Border-radius: 110px 0px 0px 0px;
    -moz-border-radius: 110px 0px 110px 0px;
    -webkit-border-radius: 110px 0px 110px 0px;
    Border: 0px solid #000000;

}



#heading {
    color: #e3f0f3;
    font-family: "PT serif";
    margin-left: 192px;
    margin-top: 18px;
    margin-bottom: -20px;
    text-shadow: 5px 5px 10px #919191;
    
}

.services-section {
    position: relative;
    height: 100%;
    background: rgba(93, 105, 124, 0.5);
    Border-radius: 110px 0px 110px 0px;
    -moz-border-radius: 110px 0px 110px 0px;
    -webkit-border-radius: 110px 0px 110px 0px;
    Border: 0px solid #000000;
    
}

.contact-section {
    
    height: 100%;
    position: relative;
    padding-bottom: 30px;
    background: rgba(93, 105, 124, 0.5);
    Border-radius: 110px 0px 110px 0px;
    -moz-border-radius: 110px 0px 110px 0px;
    -webkit-border-radius: 110px 0px 110px 0px;
    Border: 0px solid #000000;
    
}

.conversation {
	color: #7f7f7f;
	padding: 10px;
}

.conversation:hover, .conversation:focus {
	background-color: #F4F4F5;
}

#textbox {
    max-width: 658px;
}

#convo {
    position: relative;
    margin-left: 60px;
    width: 50%;
    float: top left;
    background: rgba(93, 105, 124, 0.5);
    text-align: center;
    
}

.panel > .panel-heading {
    background: rgba(93, 105, 124, 0.5);

}

#contact #convo {
    bottom: 0px;
}

.img-circle {
    display: block;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-top: 4px;
    margin-right: 10px;
    float: left;
    left: 20px;
    
}

#item-grid {
    margin-top: 30px;
    
}

#services {
    position: relative;
    color: #e3f0f3;
    font-family: "PT serif";
    text-shadow: 5px 5px 10px #919191;
 
    
}

.progress {
    height: 5px;

}

.progress-bar {
    background-color: #2a4268 !important;
}

#progpos {
    margin-top: 35px;
    margin-bottom: 85px;
}

.introheader {
    text-shadow: 5px 5px 10px #919191;
}

.messtitle {
    position: absolute;
    top: 0;
    right: 80px;
    
}





