@import "bootstrap-sprockets";
@import "bootstrap";

#topnavbar {
	background-color: #bdffec;
	font-family: Old Standard TT;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url(abstract.jpg);
  opacity: 0.5;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

#text {
  color: #e3f0f3;
  
  margin-bottom: 30px;
  margin-left: -23px;
  font-family: "Lucida Console";
  padding: 15px;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro-section {
    position: relative;
    height: 100%;
    padding-bottom: 40px;
    text-align: justify;
    -moz-text-align-last: left;
    text-align-last: left;
    background: rgba(51, 146, 163, 0.7);
    Border-radius: 110px 110px 110px 110px;
    -moz-border-radius: 110px 110px 110px 110px;
    -webkit-border-radius: 110px 110px 110px 110px;
    Border: 0px solid #000000;
}

.about-section {  
    background: rgba(51, 146, 163, 0.7);
    list-style: none;
    Border-radius: 110px 110px 110px 110px;
    -moz-border-radius: 110px 110px 110px 110px;
    -webkit-border-radius: 110px 110px 110px 110px;
    Border: 0px solid #000000;
}

.heading {
    color: #e3f0f3;
    position: absolute;
    font-family: "Lucida Console";
    margin-left: 210px;
    margin-top: 3px;
}

.services-section {
    position: relative;
    height: 100%;
    background: rgba(51, 146, 163, 0.7);
    Border-radius: 110px 110px 110px 110px;
    -moz-border-radius: 110px 110px 110px 110px;
    -webkit-border-radius: 110px 110px 110px 110px;
    Border: 0px solid #000000;
    
}

.contact-section {
    
    height: 100%;
    text-align: center;
    background: #eee;
    
}

.conversation {
	color: #7f7f7f;
	padding: 10px;
}

.conversation:hover, .conversation:focus {
	background-color: #F4F4F5;
}

#textbox {
    max-width: 658px;
}

#convo {
    position: relative;
    margin-left: auto;
    margin-right: 30px;
    text-align: center;
    float: top;
}

#contact #convo {
    bottom: 0px;
}

.img-circle {
    display: block;
    borger-radius: 50%;
    width: 180px;
    height: 180px;
    margin-top: 4px;
    margin-right: 10px;
    float: left;
    left: 20px;
    
}

#item-grid {
    margin-top: 30px;
}

#services {
    color: #e3f0f3;
    font-family: "Lucida Console";
    
}







